[Desktop Entry]
Name=MyTestApp
StartupNotify=true
Exec=/home/dolfandringa/.virtualenvs/kivy_playground/bin/python test.py
Terminal=false
Path=/home/dolfandringa/kivy_playground/kivymd_app_icon/
Icon=org.remmina.Remmina
Type=Application
